@charset "utf-8";

html {}

body {}

/* header */
header {
    padding: 20px;
    background: #186AC9;
}

header h1 {
    display: inline-block;
}

header h1 img {
    width: 50%;
}

.head-name {
    display: block;
    float: right;
    padding-right: 20px;
}

.head-name p,
.head-name img {
    display: inline-block;
}

.head-name p {
    font-size: 25px;
}


p {
    color: #f7ecf1;
}

/* main content */
#head {
    /* display: flex; */
    align-items: center;
    position: relative;
}

#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    height: 100%;
    flex: 0 0 80%;
    border-right: 1px solid #727272;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

#confirm p {
    padding-left: 20px;
    padding-top: 20px;
    color: #000;
    display: inline-block;
}

#confirm .btn {
    background-color: #186AC9;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}

#confirm {
    border-bottom: 2px solid #727272;
    padding-bottom: 20px;
}

.search-btn {
    background-color: #186AC9;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}

#slide-bar {
    padding: 20px;
}

/* アコーディオンメニュー*/
.menu {
    display: none;
}

.menu-btn {
    color: #727272;
    font-size: 20px;
}

.menu-btn:hover {
    cursor: pointer;
}

/* 閉じてる時 */
.menu-btn::before {
    content: ">";
    position: absolute;
    right: 20px;
}

/* 開いてる時 */
.menu-btn.active::before {
    content: "<";
}

/* 投稿 */
.post {
    width: 900px;
    padding: 30px 60px 60px 90px;
    position: relative;
}

.post-form {
    font-size: 24px;
    position: absolute;
    color: #727272;
    width: 50%;
    border: none;
    padding-left: 20px;
    padding-top: 20px;
    opacity: 20%;
}

button {
    border: none;
    padding: 0;
    display: flex;
    align-items: flex-end;
    float: right;
}

.post-container {
    border-bottom: solid 5px #aaa;
}

.post-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    vertical-align: bottom;
}

.post-content {
    display: block;
    padding: 30px 0 30px 120px;
    border-bottom: solid 1px #000;
}

.post-name {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
}

.post-text {
    display: inline-block;

}

span {
    float: right;
    display: block;
}

.trash-img {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../images/trash.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.trash-img:hover {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../images/trash-h.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.post-content p {
    color: #000;
}

.edit-img {
    display: flex;
    width: 50px;
    height: 50px;
    background-image: url("../images/edit.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.edit-img:hover {
    cursor: pointer;
}

.modal {
    width: 50%;
    padding: 10px 20px;
    border: 2px solid #aaa;
    background: #fff;
    z-index: 2;
    position: fixed;
    display: none;
}

.form-group {
    background-color: #fff;

}

.edit-post {
    border: none;
    width: 100%;
    height: 100%;
}

.submit {
    border: none;
}

.up-post-img {
    float: right;
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.up-post-img:hover {
    cursor: pointer;
}

/* 検索 */
.search-form {
    display: inline-block;
}

.search-window {
    display: inline-block;
}

.search {
    color: #727272;
    width: 50%;
    margin: 20px;
}

.search .btn {
    display: inline-block;
}

.search-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.search-content {
    margin: 10px;
    display: block;
}

.search-content li {
    display: inline-block;
}

.icon-img {
    width: 50px;
    height: 50px;
}

.keyword {
    display: inline-block;
}

.keyword p {
    color: #000;
}

.nofollow-btn:hover .follow-btn:hover {
    cursor: pointer;
}
