@charset "utf-8";

html {}

body {}

/* header */
header {
    padding: 20px;
    background: #186AC9;
}

#head {
    display: flex;
    justify-content: space-between;
}

header h1 img {
    width: 50%;
}


.head-name {
    /* display: flex;
    justify-content: flex-end; */
    padding-right: 20px;
}

.head-name p,
.head-name img {
    display: inline-block;
}

.head-name img {
    width: 50px;
    height: 50px;
}

.head-name p {
    font-size: 25px;
    color: #fff;
    vertical-align: top;
    padding-top: 20px;
    padding-right: 10px;
}



/* アコーディオンメニュー*/
.menu {
    display: none;
    position: absolute;
    right: 0%;
    width: 20%;
}

.menu-btn {
    color: #fff;
    font-size: 48px;
    border: none;
    text-decoration: none;
    background: none;
    padding: 0 20px;
}

.menu-btn:hover {
    cursor: pointer;
}

/* 閉じてる時 */
.menu-btn::before {
    content: "";
    display: inline-block;
    color: #fff;
    line-height: 1;
    width: 20px;
    height: 20px;
    border: 3px solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
    vertical-align: top;
}

/* 開いてる時 */
.menu-btn.active::before {
    content: "";
    display: inline-block;
    color: #fff;
    line-height: 1;
    width: 20px;
    height: 20px;
    border: 3px solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(25%) rotate(-45deg);
    vertical-align: top;
}

.nav-content {
    background-color: #fff;
    border: solid 2px #000080;
    border-bottom: none;
    text-align: center;
}

.nav-content a {
    display: block;
    padding: 20px;
    color: #727272;
    list-style: none;
    position: relative;

}

.nav-content:last-child {
    border-bottom: solid 2px #000080;
}

.nav-content:hover {
    background-color: #000080;
    color: #fff;
}

.nav-content a:hover {
    color: #fff;
}

/* main content */
#head {
    /* display: flex; */
    align-items: center;
    position: relative;
}

#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    min-height: 100%;
    flex: 0 0 80%;
}

#side-bar {
    min-height: calc(100vh - 97px);
    flex: 0 0 19%;
    border-left: 2px solid #727272;

}

#confirm p {
    padding-left: 20px;
    padding-top: 20px;
    color: #000;
    display: inline-block;

}

#confirm .btn {
    border: none;
    display: flex;
    justify-content: flex-end;
    background-color: #186AC9;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    display: block;
}

.list-btn {
    text-align: right;
    padding-right: 20px;
}


#confirm {
    border-bottom: 2px solid #727272;
    padding-bottom: 20px;
}


.search-btn {
    background-color: #186AC9;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
}

.search-btn a p {
    color: #fff;
    text-align: center;
}

#slide-bar {
    padding: 20px;
}



/* 投稿 */
.error-message {
    color: #dc143c;
    padding-top: 10px;
}

.post-container {
    border-bottom: solid 5px #aaa;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.post {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.profile-icon {
    vertical-align: top;
    width: 50px;
    height: 50px;
}

.post-form {
    font-size: 24px;
    width: 350px;
    border: none;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #fff;
    color: #000;
}

.post-btn {
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
}

.post-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    vertical-align: bottom;
}

.post-content {
    list-style: none;
    padding: 20px 0 20px 110px;
    border-bottom: solid 1px #000;

}

.post-content1 {
    display: inline-block;
    padding: 20px;
    width: 80%;
}

.post-content2 {
    padding-bottom: 20px;
}

.post-content2 p {
    display: inline-block;
}

.post-content3 {
    float: right;
}

.trash-img {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../images/trash.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.trash-img:hover {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../images/trash-h.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.edit-img {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.edit-img:hover {
    cursor: pointer;
}

.js-modal-open {
    display: inline-block;
}

.modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px 20px;
    /* border: 2px solid #aaa; */
    /* border-radius: 50px; */
    background-color: rgb(0 0 0 / 60%);
    z-index: 0;
    position: fixed;
    display: none;
}

.modal:target {
    display: flex;
}

.modal-container {
    top: 25%;
    left: 25%;
    width: 50%;
    /* height: 40%; */
    position: absolute;
    padding: 30px;
    /* margin: auto; */
    background-color: #fff;
    border-radius: 15px;
    z-index: 5;
}

/* .modal_post {
    border: 1px solid #000;
} */

.js-modal-close {
    z-index: 0;
    height: 100vh;
}

.form-group {
    background-color: #fff;
    height: 250px;
}

.edit-post {
    border: 1px solid #000;
    width: 100%;
    height: 250px;
    font-size: 1em;
    line-height: 1.2;

    /* padding-left: 20px;
    padding-top: 10px; */
}

.up-post-img {
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
}

.up-post-img:hover {
    cursor: pointer;
}

/* .submit {
    display: none;
    border: none;
} */

/* ユーザー検索 */
.search {
    display: inline-block;
    width: 80%;
    padding-bottom: 20px;
}

.search-form {
    border-bottom: solid 5px #727272;
    margin-bottom: 20px;
}

.search-window {
    width: 400px;
    height: 50px;
    /* display: flex;
    justify-content: start; */
}

.search1 {
    margin: 40px;
    display: flex;
    justify-content: space-around;
}

.search .btn {
    border: none;
    padding: 0;
    display: flex;
    /* justify-content: flex-end;
    align-items: center; */
}

.search-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.keyword {
    /* display: flex;
    justify-content: flex-end; */
    font-size: 24px;
    width: 200px;
}



.unfollow_btn {
    background-color: #dc143c;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
}

.follow_btn {
    background-color: #87cefa;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    /* vertical-align: top; */
}

.search-content {
    padding: 20px;
    text-align: center;
}

.search-content li {
    display: inline-block;
}

.icon-img {
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.search-name {
    width: 200px;
    text-align: left;
    transform: translateY(-50%);
}



.nofollow-btn:hover .follow-btn:hover {
    cursor: pointer;
}

/* プロフィール編集ページ */
.profile-update_icon {
    display: inline-block;
    vertical-align: top;
    padding-top: 40px;
    padding-right: 20px;
    width: 50px;
    height: 50px;
}

.profile-container {
    display: inline-block;
    padding-left: 30%;
}

.profile-container p {
    color: #dc143c;
    padding-top: 10px;
}

.ct-clock {
    padding: 30px 0px;
    display: block;
    width: 800px;
}

.update {
    display: inline-block;
}

.ct-clock:first-child {
    padding-top: 50px;
}


.ct-clock input {
    background-color: #f5f5f5;
    border: solid 1px #000;
    padding: 10px;
    width: 40%;
}

.ct-clock label {
    display: inline-block;
    font-size: 24px;
    width: 250px;
    text-align: left;
}

.update-button {
    background-color: #dc143c;
    border: none;
    border-radius: 5px;
    width: 150px;
    color: #fff;
    margin-left: 250px;
    padding: 10px 20px;
    display: block;
}

.update-button:hover {
    cursor: pointer;
}

/* フォローリスト */
.follow-container h1 {
    font-size: 24px;
    display: inline-block;
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 20px;
    vertical-align: top;
}

.follow_icon {
    display: inline-block;
    padding: 20px 0 50px 0;
}

.follow_icon-img {
    height: 50px;
    width: 50px;
}

.follow-content {
    border-top: solid 5px #727272;
}

.follow-list {
    list-style: none;
    padding-bottom: 20px;
    border-bottom: #727272 solid 1px;
    padding: 20px 0 20px 100px;
}

.followlist-icon {
    height: 50px;
    width: 50px;
    vertical-align: top;
}

.follow-list_post {
    display: inline-block;
    padding: 20px;
    width: 80%;
}

.follow-list_post_content {
    padding-bottom: 20px;
}

.follow-list_post_content p {
    display: inline-block;
}

.follow-list_post_content span {
    float: right;
}

/* フォロワーリスト */
.follower-container h1 {
    font-size: 24px;
    display: inline-block;
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 20px;
    vertical-align: top;
}

.follower_icon {
    display: inline-block;
    padding: 20px 0 50px 0;
}

.follower_icon-img {
    height: 50px;
    width: 50px;
}

.follower-content {
    border-top: solid 5px #727272;
}

.follower-list {
    list-style: none;
    padding-bottom: 20px;
    border-bottom: #727272 solid 1px;
    padding: 20px 0 20px 100px;
}

.followerlist-icon {
    height: 50px;
    width: 50px;
    vertical-align: top;
}

.follower-list_post {
    display: inline-block;
    padding: 20px;
    width: 80%;
}

.follower-list_post_content {
    padding-bottom: 20px;
}

.follower-list_post_content p {
    display: inline-block;
}

.follower-list_post_content span {
    float: right;
}

/* 相手ユーザーのプロフィールページ */
.userprofile-icon {
    height: 50px;
    width: 50px;
    vertical-align: top;
}

.userprofile-icon1 {
    height: 50px;
    width: 50px;
    padding: 20px 0 0 100px;
    vertical-align: top;
}

.userprofile1 {
    padding-bottom: 20px;
}

.userprofile_user {
    padding: 20px;
    display: inline-block;
    width: 80%;
}

.userprofile-hd {
    width: 120px;
    padding-right: 50px;
}

.userprofile_user p {
    display: inline-block;
    font-size: 20px;
}

.userprofile-content {
    border-top: solid 5px #727272;
}

.userprofile_post {
    list-style: none;
    padding: 20px 0 20px 110px;
    border-bottom: solid 1px #000;
}

.user-btn {
    text-align: right;
}

.userprofile_post2 {
    display: inline-block;
    padding: 20px;
    width: 80%;
}

.userprofile_post-content {
    padding-bottom: 20px;
}

.userprofile_post-content p {
    display: inline-block;
}

/* どっかにかかってるspanのpadding-right 20pxがかかってしまってる。。 */
.userprofile_post-content span {
    float: right;
}
